<%= form_for @account, url: login_path, html: { id: 'login' } do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanationin">
      <h2><%= pluralize(@account.errors.count, "error") %> stopped you from logging in. </h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %><br>
   <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>

