<%= form_for @place_rent,  url: parking_place_rents_path do |f| %>
  <% if @place_rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place_rent.errors.count, "error") %> prohibited this place_rent from being saved:</h2>

      <ul>
      <% @place_rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starts_at %><br>
   <%= f.datetime_select :starts_at, :ampm => true %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :ends_at, :ampm => true %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br>
    <%= f.collection_select(:car_id, current_person.cars, :id, :car_model_registration) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
