<p id="notice"><%= notice %></p>

<h1>Listing Place Rents</h1>

<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_rents.each do |place_rent| %>
      <tr>
        <td><%= place_rent.starts_at %></td>
        <td><%= place_rent.ends_at %></td>
        <td><%= link_to 'Show', place_rent %></td>
        <td><%= link_to 'Show Car', cars(place_rent.cars.id)  %></td>
        <td><%= link_to 'Show Parking', parkings(place_rent.parkings.id)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Rent a place', parkings_place_rents_new_path %>


