<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @place_rent.starts_at %>
</p>

<p>
  <strong>End date:</strong>
  <%= @place_rent.ends_at %>
</p>

<%= link_to 'Edit', edit_place_rent_path(@place_rent) %> |
<%= link_to 'Back', place_rents_path %>
