<%= form_for setup_parking(@parking), url: parkings_path do |f| %>
  <% if @parking.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@parking.errors.count, "error") %> errors!
      </h2>
      <ul>
        <% @parking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </p>
 
  <p>
    <%= f.label :places %><br>
    <%= f.number_field :places,step: 1  %>
  </p>

   <p>
    <%= f.label :hour_price %><br>
    <%= f.number_field :hour_price, step: 0.01 %>
  </p>

   <p>
    <%= f.label :day_price %><br>
    <%= f.number_field :day_price, step: 0.01 %>
  </p>

  <%= f.fields_for :address do |ff| %>
    <p>
      <%= ff.label :city %>
      <%= ff.text_field :city %>
    </p>
     <p>
      <%= ff.label :street %>
      <%= ff.text_field :street %>
    </p>
     <p>
      <%= ff.label :zip_code  %>
      <%= ff.text_field :zip_code %>
    </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>

<% end %>