<%= form_for :search,  method: 'get', html: { id: 'parking_search' } do |f| %>
  <div class="field">
    <%= f.label :hour_price_from %>:
    <%= f.number_field :hour_price_from, step: 0.01, value: @search_params[:hour_price_from] || "" %>
    <%= f.label :hour_price_to %>:
    <%= f.number_field :hour_price_to, step: 0.01, value: @search_params[:hour_price_to] || "" %>
  </div>
  <div class="field">
    <%= f.label :day_price_from %>:
    <%= f.number_field :day_price_from, step: 0.01, value: @search_params[:day_price_from] || ""  %> 
    <%= f.label :day_price_to %>:
    <%= f.number_field :day_price_to, step: 0.01, value: @search_params[:day_price_to] || ""  %>
  </div>
  <div class="field">
    <%= f.label :city_name %>:
    <%= f.text_field :city_name, value: @search_params[:city_name] || "" %>
  </div>
    <div class="field">
    <%= f.label :show_private %>:
    <%= f.check_box :show_private, checked:@search_params[:show_private]=="1" %>
  </div>
    <div class="field">
    <%= f.label :show_public %>:
    <%= f.check_box :show_public, checked:@search_params[:show_public]=="1" %>
  </div>
  <div class="actions">
    <%= f.submit 'Search Parkings' %>
  </div>
<% end %>
