
<%= form_tag({controller: "parkings", action: "index"}, method: "get", id: 'parking_search', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag "day_price_from", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class='input-group'>
        <div class="input-group-addon">€</div>
          <%= number_field_tag "day_price_from", nil, step: 0.01, class: 'form-control', value: @search_params[:day_price_from] || ""  %> 
      </div>
    </div>
    <%= label_tag "day_price_to", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class='input-group'>
        <div class="input-group-addon">€</div>
          <%= number_field_tag :day_price_to, nil, step: 0.01, class: 'form-control', value: @search_params[:day_price_to] || ""  %> 
      </div>
    </div>
  </div>

    <div class="form-group">
    <%= label_tag "hour_price_from", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class='input-group'>
        <div class="input-group-addon">€</div>
          <%= number_field_tag "hour_price_from", nil, step: 0.01, class: 'form-control', value: @search_params[:hour_price_from] || "" %> 
      </div>
    </div>
    <%= label_tag "hour_price_to", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class='input-group'>
        <div class="input-group-addon">€</div>
          <%= number_field_tag "hour_price_to", nil, step: 0.01, class: 'form-control', value: @search_params[:hour_price_to] || "" %> 
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "city_name", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-10'>
      <%= text_field_tag "city_name", nil, class: 'form-control', value: @search_params[:city_name] || ""  %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag "show_private", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class="checkbox">
        <%= check_box_tag "show_private", nil, @search_params[:show_private]   %>
      </div>
    </div>
    <%= label_tag "show_public", nil, class: 'col-sm-2 control-label_tag' %>
    <div class='col-sm-4'>
      <div class="checkbox">
        <%= check_box_tag "show_public", nil, @search_params[:show_public] %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Search Parkings', class: "btn btn-default" %>
    </div>
  </div>
<% end %>
