<%= form_for :search,  method: 'get', html: { id: 'parking_search' } do |f| %>
  <div class="field">
    <%= f.label :hour_price %><br>
    <%= f.number_field :hour_price, step: 0.01, value: @search_params[:hour_price] || "" %>
  </div>
  <div class="field">
    <%= f.label :day_price %><br>
    <%= f.number_field :day_price, step: 0.01, value: @search_params[:day_price] || ""  %>
  </div>
  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name, value: @search_params[:city_name] || "" %>
  </div>
    <div class="field">
    <%= f.label :show_private %><br>
    <%= f.check_box :show_private, value: @search_params[:show_private] || 0 %>
  </div>
    <div class="field">
    <%= f.label :show_public %><br>
    <%= f.check_box :show_public, value: @search_params[:show_public] || 0 %>
  </div>
  <div class="actions">
    <%= f.submit 'Search Parkings' %>
  </div>
<% end %>
