<h1>Parkings  Testing automatic deployment</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Places</th>
      <th>Hourly Price</th>
      <th>Daily Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td>
          <% if parking.address.present? %>
            <%= parking.address.city %>
            <% end %>
        </td>
        </td>
        <td><%= parking.places %></td>
        <td><%= number_to_currency(parking.hour_price, unit:"€") %></td>
        <td><%= number_to_currency(parking.day_price, unit:"€") %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Delete', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Rent a place', new_parking_place_rent_path(parking) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Parking', new_parking_path %></p>
<p><%= link_to 'View Cars', cars_path %></p>