<h1>Parkings</h1>
 <%= link_to 'New', new_parking_path %>
<ul>
<% @parkings.each do |parking| %>
  <li> City:
  <% if parking.address.present? %>
  <%= parking.address.city %>
  <% end %>
  , Places: <%= parking.places %>
  , Hourly Price: <%= number_to_currency(parking.hour_price, unit:"€") %>
  , Daily Price: <%= number_to_currency(parking.day_price, unit:"€") %>
  <%= link_to 'Show', parking %>
  <%= link_to 'Edit', edit_parking_path(parking) %>
  <%= link_to 'Delete', parking,  method: :delete  %>
  </li>
<% end %>
</ul>

