<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Parking Details</h2>
      </div>
      <div class="panel-body">
        <p>Kind of Parking: <%= @parking.kind %></p>
        <p>Places: <%= @parking.places %></p>
        <p>Hourly Price: <%= number_to_currency(@parking.hour_price, unit:"€") %></p>
        <p>Daily Price: <%= number_to_currency(@parking.day_price, unit:"€") %></p>
        <% if @parking.address.present? %>
          <h3>Parking Address</h3>
          <p>City: <%= @parking.address.city %></p>
          <p>Street: <%= @parking.address.street %></p>
          <p>Zip Code: <%= @parking.address.zip_code %></p>
        <% end %>
        <% if @parking.owner.present? %>
          <h2>Owner</h2>
          <p>First Name: <%= @parking.owner.first_name %></p>
          <p>Last Name: <%= @parking.owner.last_name %></p>
        <% end %>
        </div>
      <div class="panel-footer">
        <%= link_to 'Back', parkings_path %>
      </div>
    </div>
  </div>





