<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Car Details</h2>
      </div>
      <div class="panel-body">
        <p>
          <strong>Model:</strong>
          <%= @car.model %>
        </p>

        <p>
          <strong>Registration number:</strong>
          <%= @car.registration_number %>
        </p>
      </div>
      <div>
        <%= image_tag @car.image.thumb('400X200#').url if @car.image_stored? %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_car_path(@car) %> |
        <%= link_to 'Back', cars_path %>
      </div>
    </div>
  </div>
</div>
