<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : params[:controller].titleize %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="user">
    <%= current_person.full_name unless current_person.nil? %>
     <p><%= link_to 'Log out', session_path, method: :delete %></p>
  </div>
  <nav>
  <ul class="nav nav-tabs">
    <li>
      <p><%= link_to 'Cars', cars_path %></p>
    </li>
    <li>
      <p><%= link_to 'Parkings', parkings_path %></p>
    </li>
    <li>
      <p><%= link_to 'Rents', place_rents_path %></p>
    </li>
</ul>
  </nav>
</header>
<main>
<div class='notice'>
  <%= render 'layouts/notice' %>
</div>
  <%= yield %>
</main>
</body>
</html>
